body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

nav {
  background-color: #b01a1a;
}

nav ul {
  list-style: none;      /* tira os pontinhos */
  margin: 0;
  padding: 0;
  display: flex;         /* põe em linha */
}

nav li {
  margin: 0;
}

nav a {
  display: block;
  padding: 15px 20px;
  color: white;
  text-decoration: none; /* tira o sublinhado */
}

nav a:hover {
  background-color: #ba3c3c;
}

.imaginario-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.imaginario-container img {
  max-width: 900px;   /* controla aqui o tamanho */
  width: 100%;
  height: auto;
}


.imaginario-texto {
  width: 60%;
  margin-left: 30px;
  margin-top: 15px;
  text-align: justify;
  font-size: 18px; /*Tamanho da letra*/
}

.imaginario-texto p {
  margin-bottom: 15px;
  line-height: 1.6;
}

scroll {
  scroll-behavior: smooth;
}

.topo {
  position: relative;
  height: 120x; /* espaço para a imagem */
}

.logo {
  position: absolute;
  top: -80px;
  right: 10px;
  max-width: 70px; /* controla o tamanho */
  height: auto;
}

.img-cla {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  
}

.img-cla img {
  max-width: 748px;   /* controla aqui o tamanho */
  width: 100%;
  height: auto;
}

.img-imaginariobosnia {
  text-align: center; /* centra a imagem horizontalmente */
}

.img-imaginariobosnia img {
  width: 100%;       /* ajusta o tamanho */
  max-width: 800px; /* limite máximo */
  height: auto;     /* mantém proporção */
}

.img-bosniacaminheirismo {
  text-align: center; /* centra a imagem horizontalmente */
}

.img-bosniacaminheirismo img {
  width: 100%;       /* ajusta o tamanho */
  max-width: 800px; /* limite máximo */
  height: auto;     /* mantém proporção */
}

.imagens-container {
  display: flex;
  justify-content: space-between; /* uma à esquerda, outra à direita */
  align-items: center;
  gap: 30px; /* espaço entre as imagens */
}

.img-mapa{
  text-align: left; /* coloca o mapa à esquerda */
}

.img-mapa img {
  width: 100%;       /* ajusta o tamanho */
  max-width: 800px; /* limite máximo */
  height: auto;     /* mantém proporção */
}

.img-calendario{
  text-align: right; /* coloca o calendário à direita */
}

.img-calendario img {
  width: 100%;       /* ajusta o tamanho */
  max-width: 800px; /* limite máximo */
  height: auto;     /* mantém proporção */
}

.lema-texto {
  width: 60%;
  margin-left: 250px;
  margin-top: 15px;
  text-align: center;
  font-size: 40px; /*Tamanho da letra*/
  color: #b01a1a
}

.lema-texto p {
  margin-bottom: 15px;
  line-height: 1.6;
}

.img-angariacao {
  text-align: center; /*coloca a imagem centrada*/
}

.img-angariacao img{
  width: 100%;       /* ajusta o tamanho */
  max-width: 800px; /* limite máximo */
  height: auto;     /* mantém proporção */
}

.img-orcamento {
  text-align: center; /*coloca a imagem centrada*/
}

.img-orcamento img{
  width: 100%;       /* ajusta o tamanho */
  max-width: 730px; /* limite máximo */
  height: auto;     /* mantém proporção */
}

.img-como{
  text-align: center; /*coloca a imagem centrada*/
}

.img-como img{
  width: 100%;       /* ajusta o tamanho */
  max-width: 850px; /* limite máximo */
  height: auto;     /* mantém proporção */
}

.imaginario{
  background-color: rgb(192, 237, 237);
  padding: 80px 0;
}

#imaginario h1 {
  margin: 0 0 30px 0;
}

.ligacaoimaginariobosnia{
  background-color: rgb(240, 244, 195);
  padding: 80px 0;
}

#ligacaoimaginariobosnia h1 {
  margin: 0 0 30px 0;
}

.ligacaobosniacaminheirismo{
  background-color: rgb(241, 208, 192);
  padding: 80px 0;
}

#ligacaobosniacaminheirismo h1 {
  margin: 0 0 30px 0;
}

.ondequando{
  background-color: white;
  padding: 80px 0;
}

#ondequando h1{
  margin: 0 0 50px 0;
}


.angariacoesfundos{
  background-color: white;
  padding: 80px 0;
}

#angariacoesfundos h1{
  margin: 0 0 50px 0;
}

.orcamento{
  background-color: #c8cdc8;
  padding: 80px 0;
}

#orcamento h1{
  margin: 0 0 50px 0;
}

.como{
  background-color: white;
  padding: 80px 0;
}

#como h1{
  margin: 0 0 50px 0;
}

.nossolema{
  background-color: #c8cdc8;
  padding: 80px 0;
}

#nossolema h1{
  margin: 0 0 50px 0;
}

.img-como{
  text-align: center; /*coloca a imagem centrada*/
}

.img-como img{
  width: 100%;       /* ajusta o tamanho */
  max-width: 850px; /* limite máximo */
  height: auto;     /* mantém proporção */
}


.img-atum{
  text-align: center; /*coloca a imagem centrada*/
}

.img-atum img{
  width: 100%;       /* ajusta o tamanho */
  max-width: 300px; /* limite máximo */
  height: auto;     /* mantém proporção */
}

.img-plano {
  text-align: center; /*coloca a imagem centrada*/
}

.img-plano img{
  width: 100%;       /* ajusta o tamanho */
  max-width: 1000px; /* limite máximo */
  height: auto;     /* mantém proporção */
}

.planoatividade{
  background-color: #f76666;
  padding: 80px 0;
}

#planoatividade h1{
  margin: 0 0 50px 0;
}


.img-logistica {
  text-align: center; /*coloca a imagem centrada*/
}

.img-logistica img{
  width: 100%;       /* ajusta o tamanho */
  max-width: 1000px; /* limite máximo */
  height: auto;     /* mantém proporção */
}

.logisticaatividade{
  background-color: #c8cdc8;
  padding: 80px 0;
}

#logisticaatividade h1{
  margin: 0 0 50px 0;
}